/* ─── Extras nav ─── */
.extras-nav{ 
  margin: 1rem 0; 
  display: flex; 
  gap: 1rem; 
}

.extra-btn{
  background: var(--light-gray); 
  color: #222; 
  font-size: 1.5rem; 
  padding: .5rem;
  border: none; 
  border-radius: .3rem; 
  box-shadow: inset 0 -.2rem 0 var(--shadow);
  transition: transform .05s;
  cursor: pointer;
}

.extra-btn:active{ 
  transform: translateY(2px); 
}

.extra-btn:hover {
  filter: brightness(1.1);
}
